// list07
section.list_07(data-menu='true')
	.layoutWrap
		h2.title SELECTED ARTICLES
		ul.article
			li
				a.img.imgLoading.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/73196', target='_blank', data-imgload='img/article/l_07/01.png')
					.linkWrap
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/73196', target='_blank')
						h3 【改燥】「水行俠」以前的職業竟然是救生員！《正義聯盟》6 位超能英雄　出道拙樣比一比
			li
				a.img.imgLoading.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/73259', target='_blank', data-imgload='img/article/l_07/02.png')
					.linkWrap
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/73259', target='_blank')
						h3 【改燥】改頭換面還是灰頭土臉？ 2018 明年 6 大「重開機」經典電影大整理！
			li
				a.img.imgLoading.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/73190', target='_blank', data-imgload='img/article/l_07/03.png')
					.linkWrap
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/73190', target='_blank')
						h3 【改燥】姊就是整型了！盤點 7 大「進廠維修」韓國女星　你覺得她變美了嗎？
			li
				a.img.imgLoading.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/73171', target='_blank', data-imgload='img/article/l_07/04.png')
					.linkWrap
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/73171', target='_blank')
						h3 【改燥】醜過才知道！各國 5 大「為愛大改造」經典電影　沒看過也都該聽過！
			li
				a.img.imgLoading.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/73209', target='_blank', data-imgload='img/article/l_07/05.png')
					.linkWrap
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/73209', target='_blank')
						h3 【改燥】這樣唱更對味！盤點台灣年代金曲改編而成的饒舌歌曲
			li
				a.img.imgLoading.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/73278', target='_blank', data-imgload='img/article/l_07/06.png')
					.linkWrap
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/73278', target='_blank')
						h3 【改燥】EDM 風暴無法擋？這些「超大咖搖滾樂團」都在歌曲裡加入了電音元素！			
// list07 end