// list08
section.list_08(data-menu='true')
	.layoutWrap
		h2.title RELATED ARTICLES
		ul.article
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/72963', target='_blank', style='background-image:url("https://static.juksy.com/files/articles/72963/5a0bc26e408ab.jpg?m=resize&i=760x400&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/articles/72963/5a0bc26e408ab.jpg?m=resize&i=760x400&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/72963', target='_blank')
						h3 【改燥】女孩長大吧！2018 就是要瘋「姊姊趨勢」 小編：這股自信美你跟上了沒？
				.date Dec 1.2017 | by 熊C
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/73511', target='_blank', style='background-image:url("https://static.juksy.com/files/articles/73511/5a2521e11aa5e.jpg?m=resize&i=760x400&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/articles/73511/5a2521e11aa5e.jpg?m=resize&i=760x400&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/73511', target='_blank')
						h3 【改燥】2018 年飾品配件「燥」什麼！？戴上這些配件回頭率飆高！
				.date Dec 4.2017 | by Jade.K
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/73237', target='_blank', style='background-image:url("https://static.juksy.com/files/articles/73237/5a1a523543f73.jpg?m=resize&i=760x400&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/articles/73237/5a1a523543f73.jpg?m=resize&i=760x400&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/73237', target='_blank')
						h3 【改燥】還在「黑白配」？型人不可不知 2018 就這「燥」！    
				.date Nov 24.2017 | by  jessica
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/73283', target='_blank', style='background-image:url("https://static.juksy.com/files/articles/73283/5a1c147845f3d.png?m=resize&i=760x400&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/articles/73283/5a1c147845f3d.png?m=resize&i=760x400&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/73283', target='_blank')
						h3 【改燥】有了修圖神器，男友不會拍照沒關係！人氣部落客們都在使用的「修圖軟體 app」大公開！
				.date Nov 27.2017 | by Jade.K
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/73271', target='_blank', style='background-image:url("https://static.juksy.com/files/articles/73271/5a1bc2317bbaa.jpg?m=resize&i=760x400&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/articles/73271/5a1bc2317bbaa.jpg?m=resize&i=760x400&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/73271', target='_blank')
						h3 【改燥】不聯名就等死？！這幾雙經典鞋款被設計師重新詮釋後都賣翻啦！
				.date Nov 27.2017 | by Xin
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/73278', target='_blank', style='background-image:url("https://static.juksy.com/files/articles/73278/5a1bd82d59b00.jpg?m=resize&i=760x400&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/articles/72161/59f06f90075a0.jpg?m=resize&i=760x400&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/73278', target='_blank')
						h3 【改燥】別再痴望歐美髮型！適合亞洲男孩的兩大「秋冬造型」範本，你選哪一種？
				.date Nov 27.2017 | by Liam
// list08 end